.desk-surface {
  position: relative;
  width: 1200px;
  height: 800px;
  transform-origin: center center;
}

@media (max-width: 1250px) {
  .desk-surface {
    transform: scale(0.8);
  }
}

@media (max-width: 1000px) {
  .desk-surface {
    transform: scale(0.65);
  }
}
